<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0FDqLB7V0rCy_QdEHv9fsNXpECT5CXJY</string>
	<key>GCM_SENDER_ID</key>
	<string>214187715709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectManagementApp</string>
	<key>PROJECT_ID</key>
	<string>pizza-delivery-8d755</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza-delivery-8d755.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214187715709:ios:b236a12a21acd0a5d09514</string>
</dict>
</plist>